@import "./resets";
@import "./variables";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;
  #{&}__paragraph {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }
}
