@import "./resets";
@import "./variables";

body {
  background-color: $primary-color;
  color: $text-color;
}

.main {
  width: 80%;
  margin: 0 auto;
  // & = parent
  #{&}__paragraph {
    font-weight: map-get($font-weights, "bold");

    &:hover {
      color: pink;
    }
  }
}
