@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "./resets";
@import "./variables";

@import "./header";

@function weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

@mixin flexCenter($direction) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

// dark or light theme
// @mixin theme($light-theme: true) {
//   @if ($light-theme) {
//     background-color: lighten($bg-body, 50%);
//     color: darken($text-color, 100%);
//   }
// }

// media query
@mixin mobile() {
  @media (max-width: $mobile) {
    @content;
  }
}

body {
  background-color: $bg-body;
  color: $text-color;
  font-family: "Roboto", sans-serif;
}

.main {
  margin: 0 auto;
  max-width: $max-width;
  background-color: $bg-main;
  background-color: red;
  @include flexCenter(row);

  #{&}__paragraph1 {
    font-weight: weight(bold);

    &:hover {
      color: pink;
    }
  }
  #{&}__paragraph2 {
    @extend .main__paragraph1;

    &:hover {
      color: $accent-color;
    }
  }
  @include mobile {
    flex-direction: column;
  }
}

// .light {
//   @include theme($light-theme: true);
// }
