// The root takes priority
:root {
  --body__bg-color: hsl(21, 50%, 92%);
  --main__bg-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 100%);

  --clr-almond: hsl(28, 61%, 67%);
  --clr-sand: hsl(26, 40%, 69%);
  --clr-candyPink: hsl(321, 51%, 80%);
}

.almond {
  background-color: var(--clr-almond);
}

.sand {
  background-color: var(--clr-sand);
}

.candyPink {
  background-color: var(--clr-candyPink);
}
