@use "../util" as u;

// mobile first
.grid {
  display: grid;
  // grid template for 2 columns and 1 row
  grid-template-columns: 1fr; // in the template grid we want 1 col. fr unit
  grid-template-rows: auto auto; // hight is adjusting to its content
  gap: 40px;
  // HIGHLIGHT - add 20px padding in mobile.
  width: min(100% - 40px, 1000px);
  margin-inline: auto; // new property

  // HIGHLIGHT
  // media query for 900px and up
  @include u.breakpoint(large) {
    grid-template-columns: 2fr 1fr; // first col will be 2 times wide as the second col
    grid-template-rows: auto;
  }

  &__main,
  &__sidebar {
    padding: 40px;
  }

  &__main {
    background-color: hsl(240, 100%, 50%);
  }

  &__sidebar {
    background-color: hsl(300, 100%, 50%);
  }
}
